[Unit]
Description=VPN for pi
After=network.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=sudo /usr/sbin/openvpn --config /home/pi/audio-pi-1.ovpn
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target