[Unit]
Description=Sound Collection Service
After=network.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
ExecStart=/usr/bin/python3 server.py
WorkingDirectory=/mnt/120daa3e-6d5a-47f4-86fc-b9080ddf4988/ford/pi-record
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi-record

[Install]
WantedBy=multi-user.target
