[Unit]
Description=Sound Collection Service
After=network.target

[Service]
ExecStart=/home/pi/pi-record/venv/bin/python /home/pi/pi-record/pi.py
WorkingDirectory=/home/pi/pi-record
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
