body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    padding: 20px;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
header img {
    height: 30px;
    margin: 0 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
}
nav a.active {
    background-color: #555;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.tab-content table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
.tab-content table, .tab-content th, .tab-content td {
    border: 1px solid #ddd;
}
.tab-content th, .tab-content td {
    padding: 8px;
    text-align: left;
}
.tab-content th {
    background-color: #f2f2f2;
}
.tab-content button {
    display: block;
    margin: 10px 0;
    padding: 15px;
    font-size: 1.2em;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.tab-content button.green {
    background-color: #28a745;
    color: white;
}
.tab-content button.red {
    background-color: #dc3545;
    color: white;
}
.tab-content button.blue {
    background-color: #007BFF;
    color: white;
}
.tab-content button.yellow {
    background-color: #FFC107;
    color: white;
}
.tab-content button.orange {
    background-color: #AF5722;
    color: white;
}
.tab-content button:hover.green {
    background-color: #218838;
}
.tab-content button:hover.red {
    background-color: #c82333;
}
.tab-content button:hover.blue {
    background-color: #0056b3;
}
.tab-content button:hover.yellow {
    background-color: #e0a800;
}
.tab-content button:hover.orange {
    background-color: #a64a19;
}
.message {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}