<!DOCTYPE html>
<html>
<body>

<button onclick="repeat()" style="font-size:30px; ">Get GPS</button>

<p id="demo" style="font-size:30px; "></p>

<script>
var x = document.getElementById("demo");

function repeat() {
    setInterval(getLocation, 1000);
}

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}
    
function showPosition(position) {
    x.innerHTML="Lat: " + position.coords.latitude + 
    "<br>Lon: " + position.coords.longitude +
    "<br>Acc: " + position.coords.accuracy +
    "<br>Speed: " + position.coords.speed + " m/s\t" + (3.6 * position.coords.speed) + " km/h" +
    "<br>Altitude: " + position.coords.altitude +
    "<br>Altitude Acc: " + position.coords.altitudeAccuracy +
    "<br>Timestamp :" + position.coords.timestamp + 
    "<br>Degrees clockwise from North: " + position.coords.heading;
}






</script>

</body>
</html>

