<!DOCTYPE html>
<html>

<head>
    <style>
       

        audio {
            transform-origin: top left;
            transform: scale(3, 3);
            margin-bottom: 20%;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            font-size: 60px;
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            width: 100%;
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .vertical-center {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .button {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 100px;
            margin: 10px 10px;
            cursor: pointer;
        }

        .record {
            font-size: 200px;
            background-color: #4CAF50;
        }
        
        .scan {
            background-color: #800000;
        }

        /* Red */
        .stop {
            font-size: 200px;
            background-color: #800000;
        }

        /* Blue */
        .connect {
            background-color: #000080;
        }

        /* Blue */
        .check {
            background-color: #800080;
        }

        /* Pruple */
        .normal {
            background-color: #4CAF50;
        }

        /* red */
        .squeak {
            background-color: #800000;
        }

        /* Red */
        .rattle {
            background-color: #000080;
        }

        /* Blue */
        .both {
            background-color: #800080;
        }

        .label {
            white-space: pre-wrap;
            font-size: 50px;
        }

        /* Pruple */


        /* p {
    font-size: 15px
} */
    </style>
</head>

<body>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'scan_panel')" id="scan_tab">scan</button>
        <button class="tablinks" onclick="openTab(event, 'record_panel')" id="record_tab">record</button>
        <button class="tablinks" onclick="openTab(event, 'report_panel')" id="report_tab">report</button>
        <button class="tablinks" onclick="openTab(event, 'setup_panel')">setup</button>
        <button class="tablinks" onclick="openTab(event, 'audio_panel')">audio</button>
        <button class="tablinks" onclick="openTab(event, 'sync_panel')">sync</button>
        <button class="tablinks" onclick="openTab(event, 'power_panel')">power</button>
    </div>
    
    <div id="scan_panel" class="vertical-center tabcontent">
        <div id="qr-reader" style="width: 100%"></div></br>
        <button onclick='scanvin()' class='button scan'>scan VIN</button></br>
        <hr>
        <label id="message_scan" class="label">No Messages</label>
    </div>

    <div id='record_panel' class="vertical-center tabcontent">
        <label id="vin_label" class='label'>VIN not set</label></br>
        <button id='record_button' onclick='record()' class='button record'>record</button></br>
        <button id='stop_button' onclick='stop()' class='button stop'>stop</button></br>
        <hr>
        <label id="message_record" class="label">No Messages</label></br>
        <hr>
        <label id="message_timeout" class="label">No Messages</label>
    </div>

    <div id='report_panel' class="vertical-center tabcontent">
        <button id='normal_button' onclick='report(0)' class='button normal'>normal</button></br>
        <button id='squeak_button' onclick='report(1)' class='button squeak'>squeak</button></br>
        <button id='rattle_button' onclick='report(2)' class='button rattle'>rattle</button></br>
        <button id='both_button' onclick='report(3)' class='button both'>both</button></br>
        <button id='next_button' onClick="window.location.reload();" class='button normal'>next car</button>
        <hr>
        <label id="message_report" class="label">No Messages</label>
    </div>


    <div id="setup_panel" class="vertical-center tabcontent">
        <button onclick='vpn(1)' class='button check'>check VPN</button></br>
        <button onclick='test_loss_rate()' class='button normal'>test loss rate</button></br>
        <hr>
        <hr>
        <font size="60px">Save files to:</font></br>
        <button onclick="save_files(0)" class='button normal'>pi</button>
        <button onclick="save_files(1)" class='button squeak'>server</button>
        <button onclick="save_files(2)" class='button rattle'>both</button></br>
        <hr>
        <hr>
        <button onclick='check_update_pi()' class='button check'>check update</button></br>
        <button onclick='update_pi()' class='button normal'>update software</button></br>
        <hr>
        <label id="message_setup" class="label">No Messages</label></br>

    </div>

    <div id="audio_panel" class="vertical-center tabcontent">
        <label id="audio_box_message" class="label"></label></br>
        <audio id='audio_box' controls controlsList="nodownload noplaybackrate" autoplay>
            <source id='audio_source' src=''>
        </audio>
        <hr>
        <font size="60px">Check last audio on</font></br>
        <button onclick='check_last_audio("server")' class='button normal'>server</button>
        <button onclick='check_last_audio("pi")' class='button check'>pi</button></br>
        <label id="message_last_audio" class="label">Selected audio: None</label></br>
        <button onclick='play_last_audio()' class='button rattle'>play</button>
        <button onclick='deselect_audio()' class='button normal'>deselect</button>
        <hr>
        <hr>
        <button onclick='delete_last_audio()' class='button squeak'>delete!</button></br>
    </div>

    <div id="sync_panel" class="vertical-center tabcontent">
        <button onclick='sync()' class='button normal'>upload local audios to the server</button></br>
        <hr>
        <label id="message_sync" class="label"></label></br>
    </div>

    <div id="power_panel" class="vertical-center tabcontent">
        <button onclick='power(0)' class='button normal'>shutdown</button></br>
        <button onclick='power(1)' class='button check'>reboot</button></br>
    </div>

    <script src="https://unpkg.com/html5-qrcode" type="text/javascript">


    </script>
    <script>

        var vin = '';
        const timeout = 100;
        var counter = null;

        function openTab(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        var start_time = 0;
        function record() {
            const xhttp = new XMLHttpRequest();
            if (vin == '') {
                document.getElementById("message_record").innerHTML = 'Please scan to get a VIN at first';
            } else {
                xhttp.open("GET", "/record/" + vin);
                xhttp.onload = function () {
                    if (this.responseText == 'recording...') {
                        document.getElementById("message_record").innerHTML = 'VIN: ' + vin + '\nis\n' + this.responseText;
                        document.getElementById('record_button').style.display = 'none';
                        document.getElementById('stop_button').style.display = 'block';
                        start_time = getTime();
                        // Update the count down every 1 second
                        counter = setInterval(function() {
                            let seconds = Math.floor((getTime - start_time) / 1000);
                            document.getElementById("message_timeout").innerHTML = (timeout - seconds) + 's to auto stop';
                            if (seconds > timeout) {
                                document.getElementById("message_timeout").innerHTML = "EXPIRED";
                                stop();
                            }
                        }, 1000);
                    } else {
                        document.getElementById("message_record").innerHTML = this.responseText;
                    }
                }
                xhttp.send();
            }
        }

        function stop() {

            clearInterval(counter);

            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/stop");
            xhttp.onload = function () {
                document.getElementById("message_record").innerHTML = this.responseText;
                // jump to the next
                document.getElementById('normal_button').style.display = 'block';
                document.getElementById('squeak_button').style.display = 'block';
                document.getElementById('rattle_button').style.display = 'block';
                document.getElementById('both_button').style.display = 'block';
                document.getElementById("report_tab").click();
            }
            xhttp.send();
            document.getElementById("message_record").innerHTML = "stopping, please wait...";
            document.getElementById('stop_button').style.display = 'none';
        }

        const report_cmds = ["normal", "squeak", "rattle", "both"]
        function report(i) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/report/" + vin + "/" + report_cmds[i]);
            xhttp.onload = function () {
                document.getElementById("message_report").innerHTML = this.responseText + '\n\nIf you mis-clicked the wrong button, you can re-click the right one';
                document.getElementById('next_button').style.display = 'block';
            }
            xhttp.send();
            document.getElementById("message_report").innerHTML = "reporting, please wait...";
            
        }

        const vpn_cmds = ["connect-vpn", "check-vpn"];
        function vpn(i) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/" + vpn_cmds[i]);
            xhttp.onload = function () {
                document.getElementById("message_setup").innerHTML = this.responseText;
            }
            xhttp.send();
        }

        const power_cmds = ["shut-down", "reboot"]
        function power(i) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/" +power_cmds[i]);
            xhttp.send();
        }

        const save_locations = ["pi", "server", "both"]
        function save_files(i) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/save-location/" + save_locations[i]);
            xhttp.onload = function () {
                document.getElementById("message_setup").innerHTML = this.responseText;
            }
            xhttp.send();
        }

        function test_loss_rate() {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/test-loss-rate");
            xhttp.onload = function () {
                document.getElementById("message_setup").innerHTML = 'loss rate = ' + this.responseText;
            }
            xhttp.send();
            document.getElementById("message_setup").innerHTML = 'Please wait for 15 ~ 20s...';
        }

        function check_update_pi() {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/check-update");
            xhttp.onload = function () {
                document.getElementById("message_setup").innerHTML = this.responseText;
            }
            xhttp.send()
        }

        function update_pi() {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/update");
            xhttp.onload = function () {
                document.getElementById("message_setup").innerHTML = this.responseText + '\nPlease reload the website if files change!';
            }
            xhttp.send();
        }


        function scanvin() {
            console.log('scan vin')
            html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);
        }

        let qrboxFunction = function (viewfinderWidth, viewfinderHeight) {
            let minEdgePercentage = 0.99;
            let minEdgeSize = Math.min(viewfinderWidth, viewfinderHeight);
            let qrboxSize = Math.floor(minEdgeSize * minEdgePercentage);
            return {
                width: qrboxSize,
                height: qrboxSize / 2
            };
        }

        const html5QrCode = new Html5Qrcode("qr-reader", { formatsToSupport: [ Html5QrcodeSupportedFormats.CODE_39] });
        const qrCodeSuccessCallback = (decodedText, decodedResult) => {
            console.log(`Code scanned = ${decodedText}`, decodedResult);
            document.getElementById("message_scan").innerHTML = decodedText;
            if (decodedText.startsWith("WF") && decodedText.length == 17) {
                vin = decodedText;
                document.getElementById("vin_label").innerHTML = 'VIN: ' + vin;
                document.getElementById("message_scan").innerHTML = 'VIN: ' + vin;
                html5QrCode.stop().then((ignore) => {
                    console.log('stopped')
                }).catch((err) => {});
                // jump to next tab
                document.getElementById("record_tab").click();
                document.getElementById('record_button').style.display = 'block';   
            }
        };
        const config = { fps: 20, qrbox: qrboxFunction };


        
        /*
        function scanvin() {
            console.log('scan vin')
            html5QrcodeScanner.render(onScanSuccess);
        }

        function onScanSuccess(decodedText, decodedResult) {
        // Handle the scanned code as you like, for example:
            console.log(`Code matched = ${decodedText}`, decodedResult);
            document.getElementById("message_scan").innerHTML = decodedText;
        }

        let qrboxFunction = function (viewfinderWidth, viewfinderHeight) {
            let minEdgePercentage = 0.99; // 70%
            let minEdgeSize = Math.min(viewfinderWidth, viewfinderHeight);
            let qrboxSize = Math.floor(minEdgeSize * minEdgePercentage);
            return {
                width: qrboxSize,
                height: qrboxSize / 2
            };
        }

        const formatsToSupport = [Html5QrcodeSupportedFormats.CODE_39];
        const html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader",
            {
                fps: 10,
                qrbox: qrboxFunction,
                showTorchButtonIfSupported: true,
                formatsToSupport: formatsToSupport,
                supportedScanTypes: [Html5QrcodeScanType.SCAN_TYPE_CAMERA]
            },
        false);

        */

        var last_audio_position = 'None';
        var last_audio_name = '';
        var delete_count = 0;
        function check_last_audio(position) {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/check-last-audio/" + position);
            xhttp.onload = function () {
                if (this.responseText == 'None') {
                    document.getElementById("message_last_audio").innerHTML = 'Nothing on ' + position;
                    last_audio_name = '';
                } else {
                    last_audio_position = position;
                    last_audio_name = this.responseText;
                    document.getElementById("message_last_audio").innerHTML = 'Selected audio on ' + last_audio_position + ': ' + last_audio_name;
                }
                initialize_audio_box();
            }
            xhttp.send();
            delete_count = 0;
        }


        function delete_last_audio() {
            initialize_audio_box();
            if (last_audio_position == 'None' || last_audio_name == '') {
                document.getElementById("message_last_audio").innerHTML = 'No audio selected!';
            } else {
                if (delete_count == 0) {
                    delete_count = 1;
                    document.getElementById("message_last_audio").innerHTML = 'Are you sure you want to delete ' + last_audio_name + ' from ' + last_audio_position + '?\n' + 'Click again to delete it';
                } else {
                    const xhttp = new XMLHttpRequest();
                    xhttp.open("GET", "/delete-last-audio/" + last_audio_position + "/" + last_audio_name);
                    xhttp.onload = function () {
                        document.getElementById("message_last_audio").innerHTML = this.responseText;
                        last_audio_position = 'None';
                        last_audio_name = '';
                    }
                    xhttp.send();
                    delete_count = 0;
                }
            }
        }

        function initialize_audio_box() {
            document.getElementById("audio_box_message").innerHTML = '';
            document.getElementById('audio_box').style.display = 'none';
            document.getElementById('audio_source').src = '';
            document.getElementById('audio_box').load();
        }

        function deselect_audio() {
            last_audio_position = 'None';
            last_audio_name = '';
            document.getElementById("message_last_audio").innerHTML = 'Selected audio: None';
            delete_count = 0;

            initialize_audio_box();
        }

        function play_last_audio() {
            // initialize
            document.getElementById("audio_box_message").innerHTML = '';
            delete_count = 0;
            if (last_audio_position == 'None' || last_audio_name == '') {
                initialize_audio_box();
                document.getElementById("audio_box_message").innerHTML = 'No audio selected!';
            } else {
                document.getElementById('audio_box').style.display = 'block';
                document.getElementById('audio_source').src = "download/" + last_audio_position + "/" + last_audio_name;
                document.getElementById('audio_box').load();
                document.getElementById("audio_box_message").innerHTML = 'Playing ' + last_audio_name + ' from ' + last_audio_position;
            }
        }

        function sync() {
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/upload-to-server");
            xhttp.onload = function () {
                document.getElementById("message_sync").innerHTML = this.responseText;
            }
            document.getElementById("message_sync").innerHTML = 'uploading... please be patient';
            xhttp.send();
        }

        var lat = []
        var lon = []
        var acc = []
        var clk = []
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);

            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            lat.push(position.coords.latitude); 
            lon.push(position.coords.longitude);
            
        }

        
        function initialize() {
            vin = '';
            document.getElementById("vin_label").innerHTML = 'VIN not set';
            document.getElementById("message_scan").innerHTML = 'VIN not set';

            document.getElementById('stop_button').style.display = 'none';
            document.getElementById('record_button').style.display = 'none';

            document.getElementById('normal_button').style.display = 'none';
            document.getElementById('squeak_button').style.display = 'none';
            document.getElementById('rattle_button').style.display = 'none';
            document.getElementById('both_button').style.display = 'none';
            document.getElementById('next_button').style.display = 'none';

            document.getElementById('audio_box').style.display = 'none';

            document.getElementById("scan_tab").click();
        }

        // initialize
        initialize();

    </script>

</body>

</html>